@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i|Spectral+SC');

$sans:'Montserrat',sans-serif;
// 400(i), 600(i)
$headline:'Spectral SC',serif;
// 300
$iconfont: "Ionicons";
.ion:before { font-family: $iconfont !important; }
// http://ionicons.com/